[*.cs]

# Put { on same line
csharp_new_line_before_open_brace = none

# Prevent new lines for else/catch/finally
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false